<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<html>
<head>
<title>submit  userinfo </title>
    <style>
* {
    box-sizing: border-box;
}
.header {
    border: 1px solid red;
    padding: 15px;
}
.menu {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}
.main {
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}
.tablecss {
    border: 1px solid #3b4249;


}

</style>

</head>

<body>
<!--The content of the document......-->
<!--
<form action="/userinfo" method="post">
    <p>姓名：<input type="text" name="username" required="required">*</p>
    <p>性别：<input type="text" name="sex" required="required">*</p>
    <p>邮箱：<input type="text" name="email" required="required">*</p>
    <p><input type="submit" value="注册提交信息" ></p>

</form>
-->

<div class="header">
        <h1>信息系统数据展示</h1>

</div>
<div class="menu">
    <ul>
        <li>The Flight</li>
        <li>The City</li>
        <li>The Island</li>
        <li>The Food</li>
    </ul>
</div>
<div class="main">
    <h3>文章列表</h3>
        <table class="tablecss">
	<tr class="tablecss">
		<td>标题：</td>
		<td>文章内容：</td>
		<td>正式发布：</td>
		<td>发表时间：</td>
	</tr>
	{% for i in user_info %}
	<tr class="tablecss">

		<td><a href="http://www.baidu.com">{{i.title}}</td>
		<td>{{i.slug}}</td>
		<td>{{i.content}}</td>
		<td>{{i.pub_date}}</td>
	</tr>

	{% endfor %}

</table>

</div
</body>

</html>




